.listingPage {
    display: block;
}

.listing {
    display: flex;
    flex-wrap: wrap;
}

.listingItem {
    display: block;

    width: 100%;
    height: 3rem;
    line-height: 3rem;
}


@media (min-width: 768px) {
    .listingItem {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .listingItem {
        width: 33.33333%;
    }
}

@media (min-width: 1440px) {
    .listingItem {
        width: 25%;
    }
}
